<% layout("/layouts/boilerplate") -%>
</style>
<body>
  <div class="image-slider">
    <strong><div class="slider-heading">
      <h1 style="font-size: 60px; font-weight: bold;">Experience the joy!</h1>
      <h5 class="sub-head">Welcome to HerbCart</h5>
    </div></strong>
    
    <div class="slider-container">
      <% for(let img of allimg) { %>
      <img src="<%= img.image1 %>" alt="Image 1">
      <img src="<%= img.image2 %>" alt="Image 2">
      <img src="<%= img.image3 %>" alt="Image 3">
      <img src="<%= img.image4 %>" alt="Image 4">
    <% } %>
      </div>
  </div>
  <div class="spacer"></div>
    <h3 class="sub-head" style="font-size: 30px;">Featured Collections</h3>
    <h6 class="sub-head">explore our latest fresh herbs!</h6>
    <div class="spacer"></div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings) { %>
                <div class="card col listing-card">
                  <a href="/listings/<%=listing._id%>" class="listing-link">
                    <img src=" <%=listing.image.url %>" class="card-img-top" alt="herb-image" style="height: 25rem"/>
                  </a>
                    <div class="card-body">
                      <p class="card-text">
                        <b class="list-herbs"><%= listing.title%></b>
                        <br>
                        &#8377; <%= listing.price %>
                       </p>
                    </div>
                    <form action="/cart/<%=listing._id%>" method="POST">
                    <button class="btn btn-dark cart-btn">Add to cart</button>
                  </form>
                  </div>
           <% } %>
    </div>
</body>

    